# requirements.txt

# Python 3.*
ultralytics>=8.3.0,<9.0.0


# Python (3.8 - 3.10)
#
# ML
numpy>=1.24.4,<2.0.0; python_version <= '3.10'
torch>=2.0,<2.4.1; python_version <= '3.10'
torchvision>=0.15.2,<0.19; python_version <= '3.10'
opencv-python>=4.10,<5.0; python_version <= '3.10'
# WEB
streamlit>=1.0,<1.48.0; python_version <= '3.10'


# Python (3.11 - 3.13)
#
# ML
numpy>=2.0.0,<3.0.0; python_version >= '3.11'
torch>=2.4.0,<3.0.0; python_version >= '3.11'
torchvision>=0.22.0,<0.25.0; python_version >= '3.11'
opencv-python>=4.12,<5.0; python_version >= '3.11'
# WEB
streamlit>=1.40,<2.0; python_version >= '3.11'

